/* Navbar Styles */
.navbar-brand {
  font-family: 'Jost', sans-serif;
  font-weight: 600;
  color: #D9E272; }

.navbar-brand:hover {
  color: red; }

.navbar-nav {
  font-family: 'Jost', sans-serif;
  font-weight: 300; }

.nav-link {
  color: #b1bc3c; }

.nav-link:hover {
  color: #D9E272; }

.nav-link.disabled {
  font-family: 'Jost', sans-serif;
  font-weight: 300;
  color: #D9E272; }

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28217, 226, 114, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='1' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }

.navbar-toggler {
  border-color: #d9e272; }

.navbar-toggler-icon:hover {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28217, 226, 114, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }

.navbar-toggler:hover {
  border-color: #d9e272;
  stroke-width: '1'; }

.navbar-brand img {
  transition: transform 0.15s ease-in-out; }

.navbar-brand img:hover {
  transform: scale(1.1);
  transform: rotate(5deg); }

/* Footer Styles */
footer {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  text-align: center;
  background-color: #D9E272;
  color: #454545;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; }

@media only screen and (max-height: 600px) {
  footer {
    display: none; } }

/* Body Styles Index */
.indexis {
  height: 100vh;
  background: linear-gradient(to bottom, #465663, #465663, #D9E272); }
