/* Imports */
.card {
  stroke: rgb(255, 0, 64);
}
.card .cardMar {
  margin: 5px;
}
.card .card-header {
  background-color: rgb(255, 0, 64);
  font-family: "Inter";
  font-weight: 500;
  font-size: 1.2rem;
}
.card .card-title {
  font-family: "Inter";
  font-weight: 200;
  font-size: 0.8rem;
}
.card .card-text {
  font-family: "Inter";
  font-weight: 300;
  font-size: 1rem;
}

.row.anchis {
  max-width: 75%;
}
@media (max-width: 1390px) {
  .row.anchis {
    max-width: 90%;
  }
}
@media (max-width: 1000px) {
  .row.anchis {
    max-width: 100%;
  }
}

/* Navbar Styles */
.navbar-brand {
  font-family: "Jost", sans-serif;
  font-weight: 600;
  color: rgb(217, 226, 114);
}
.navbar-brand:hover {
  color: red;
}

.navbar-nav {
  font-family: "Jost", sans-serif;
  font-weight: 300;
}

.nav-link {
  color: #b1bc3c;
}
.nav-link:hover {
  color: rgb(217, 226, 114);
}

.nav-link.disabled {
  font-family: "Jost", sans-serif;
  font-weight: 300;
  color: #D9E272;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28217, 226, 114, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='1' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler-icon:hover {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28217, 226, 114, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
  border-color: rgb(217, 226, 114);
}
.navbar-toggler:hover {
  border-color: rgb(217, 226, 114);
  stroke-width: "1";
}

.navbar-brand img {
  transition: transform 0.15s ease-in-out;
}
.navbar-brand img:hover {
  transform: scale(1.1) rotate(5deg);
}

@media only screen and (max-height: 600px) {
  footer {
    display: none;
  }
}
/* Body Styles */
.indexis {
  height: 100vh;
  background: linear-gradient(to bottom, #222529, #222529, #465663, #D9E272);
  background-attachment: fixed;
  background-size: cover;
}
.indexis .titulico {
  width: 750px;
  min-height: 900px;
  padding-top: 100px;
}
.indexis .titulico h1 {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  color: rgb(255, 255, 255);
}
.indexis .titulico h6 {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}
@media (max-width: 700px) {
  .indexis .titulico {
    width: 100%;
    padding-top: 50px;
  }
}
@media (max-width: 767.98px) {
  .indexis .sugarWings {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.imgZero {
  max-height: 600px;
}

.eventis {
  height: 100vh;
  background: linear-gradient(to bottom, #222529, #222529, rgb(255, 0, 64));
  background-attachment: fixed;
  background-size: cover;
}

.contactis {
  height: 100vh;
  background-color: rgb(217, 226, 114);
  background-attachment: fixed;
  background-size: cover;
  font-family: "Inter";
}
.contactis h2 {
  font-family: "Inter";
  font-weight: 700;
  padding-bottom: 10px;
}
.contactis form .form-control {
  background-color: rgb(217, 226, 114);
  border-color: #b1bc3c;
}
.contactis form button {
  color: rgb(217, 226, 114);
}
.contactis form button:hover {
  color: #b1bc3c;
  background-color: #181E25;
}
.contactis .redSoc {
  max-height: 20px;
  margin-top: 30px;
}
.contactis .redSoc img {
  margin: 3px;
  max-height: 30px;
  transition: transform 0.15s ease-in-out;
}
.contactis .redSoc img:hover {
  transform: scale(1.1);
}

.featuris {
  height: 100vh;
  background-color: #222529;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Inter";
}
.featuris h2 {
  font-family: "Inter";
  font-weight: 700;
  padding-bottom: 2px;
  color: rgb(217, 226, 114);
}
.featuris .pecito {
  font-family: "Inter";
  font-weight: 200;
  padding-bottom: 10px;
  color: rgb(255, 255, 255);
}

.lineUp img {
  width: 100%;
  height: auto;
  max-height: 680px;
  padding: 0px;
  margin: 0px;
  object-fit: cover;
}

.text-container {
  width: 300px;
}

/* Footer Styles */
footer {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  text-align: center;
  background-color: #D9E272;
  color: rgb(69, 69, 69);
  position: absolute;
  box-sizing: border-box;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding-top: 0px;
}
footer.futEvent {
  background-color: rgb(255, 0, 64);
  position: relative;
}

/*# sourceMappingURL=style.css.map */
