<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./css/estilo.css">
	<title>Red Bull Zero Sugar</title>
	<link rel="shortcut icon" type="image/x-icon" href="../RED BULL ZERO SUGAR/assets/img/REDBULLICON.ico">

</head>
<body>
	<header class="navRedBull">
	  <nav>
		<div class="logoRB">
        <img src="./assets/img/REDBULLLOOGO.png" alt="Red Bull">
		</div>
        <ul class="menuRB">
	      <li> <a href="../index.html">Presentation</a> </li>
	      <li> <a href="./features.html">Features</a> </li>
	      <li> <a href="./events.html">Events</a> </li>
        </ul>
	  </nav>
	  <a class="contacto" href="#"<button>Contact</button>
	</header>
	<div class="Features">
		<h2 class="ZeroSugar">Caffeine</h2>
		<p class="textitos">Caffeine was widely used by ancient civilisations. It was traditionally consumed from natural sources like tea, coffee, cacao beans and cola nuts and appreciated for its stimulating effects on the human body</p>
		<h2 class="ZeroSugar">Taurine</h2>
		<p class="textitos">Taurine is an amino acid, naturally occurring in the human body and present in the daily diet.</p>
		<h2 class="ZeroSugar">Water</h2>
		<p class="textitos">Water is a main ingredient of Red Bull, and our production sites always ensure high standards of quality are applied to our water source.</p>

		
    </div>
	
	<footer></footer>
</body>
</html>